# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# Environment Vars
.env

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# npm
npm-debug.log

# dist
dist

# yarn
yarn-error.log

#file
file_repository