
    <style>
        /* Global Styles */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
            margin: 0;
            padding: 0;
        }

        /* Body Styles */
        .body-container {
            padding: 20px;
        }

        .sender-name {
            font-size: 18px;
            font-weight: bold;
        }

        .message-content {
            font-size: 16px;
        }

    </style>

    <!-- Body -->
    <div class="body-container">
        <p class="sender-name">Welcome {{name}},</p>
        <p class="message-content">
            {{message}}
            <br><br>
            Click <a href="{{url}}" target="_bank">here</a> to confirm account
        </p>
    </div>



